body {
    background: hsl(193, 86%, 95%);
    color: #e7d8d8;
  }
  
  .navbar{
  background: rgb(120, 216, 237);
  }
  body{
  margin-top:17%;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #160202;
  }
  
  .bg-steel {
    background-color: hsl(207, 19%, 88%);
  }
  
  .site-header .navbar-nav .nav-link {
    color: #b3bbc0;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 600;
  }
  
  .content-section {
    margin:5px;
    background: hsl(0, 5%, 39%);
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding-bottom: 20px;
  }
  
  .article-title {
    color: #e4e2e2;
  }
  
  a.article-title:hover {
    color: #cae1f5;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #ebe4e4;
    text-decoration: none;
  }
  
  .article-svg {
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 3.2rem;
  }
  
  .commentname{
  font-size:20px;
  }
  
  .commentcomment{
  font-size:15px;
  }
  